.wrap {
  max-width: 70%;
  margin: 40px auto 0;
}
.bar {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
.bar span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 14px;
  background: #000000;
  border-radius: 50px;
}
.bar span:before {
  position: absolute;
  content: "";
  top: 4px;
  left: 5px;
  width: 80%;
  height: 45%;
  background: linear-gradient(to left, #3c9104, crimson);
  border-radius: 50px;
  animation: bar 3s ease;
}
@keyframes bar {
  from {
    width: 0;
  }
}
.bar:nth-child(1) span:before {
  width: 85%;
}
.bar:nth-child(2) span:before {
  width: 80%;
}
.bar:nth-child(3) span:before {
  width: 77%;
}
.bar:nth-child(4) span:before {
  width: 72%;
}
.bar:nth-child(5) span:before {
  width: 65%;
}
.bar:nth-child(6) span:before {
  width: 60%;
}
.bar:nth-child(7) span:before {
  width: 58%;
}
.bar:nth-child(8) span:before {
  width: 40%;
}
.bar:nth-child(9) span:before {
  width: 30%;
}

abbr {
  width: 40px;
  height: 30px;
  font-size: 16px;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 25px;
  background: linear-gradient(to right, #58d604, crimson);
  z-index: 1;
  box-shadow: 0 5px 15px #3c9104, 0 2px 15px crimson;
  animation: count 3s ease;
}
@keyframes count {
  from {
    left: 0%;
  }
}
.bar:nth-child(1) abbr {
  left: 85%;
}
.bar:nth-child(2) abbr {
  left: 80%;
}
.bar:nth-child(3) abbr {
  left: 77%;
}
.bar:nth-child(4) abbr {
  left: 72%;
}
.bar:nth-child(5) abbr {
  left: 65%;
}
.bar:nth-child(6) abbr {
  left: 60%;
}
.bar:nth-child(7) abbr {
  left: 58%;
}
.bar:nth-child(8) abbr {
  left: 40%;
}
.bar:nth-child(9) abbr {
  left: 30%;
}
